### main-dev
spring.application.name=UnderTheStars

# MySQL ----------------------------------------------------
spring.datasource.url=DB_URL
spring.datasource.username=DB_USERNAME
spring.datasource.password=DB_PASSWORD
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
#-----------------------------------------------------------

# hibernate ------------------------------------------------
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
#-----------------------------------------------------------

# hikari ---------------------------------------------------
spring.datasource.hikari.maximum-pool-size=10
spring.datasource.hikari.minimum-idle=5
spring.datasource.hikari.idle-timeout=30000
spring.datasource.hikari.max-lifetime=1800000
spring.datasource.hikari.connection-timeout=20000
#-----------------------------------------------------------

# jwt ------------------------------------------------------
## 30 min
jwt.access-token-validity=1800000
## 2 week
jwt.refresh-token-validity=1209600000
#-----------------------------------------------------------

# jackson --------------------------------------------------
spring.jackson.serialization.write-dates-as-timestamps=false
spring.jackson.date-format=yyyy-MM-dd HH:mm:ss
#-----------------------------------------------------------

# log level ------------------------------------------------
logging.level.org.springframework.web=DEBUG
logging.level.com.wooil.ustar=DEBUG
#-----------------------------------------------------------