name: Spring Boot CI/CD

on:
  push:
    branches:
      - 'develop'
      - 'feat/**'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'develop'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Start MySQL
        run: |
          docker run --name mysql -e MYSQL_ROOT_PASSWORD=${{ secrets.DB_PASSWORD }} -e MYSQL_DATABASE=${{ secrets.DB_NAME }} -e MYSQL_USER=${{ secrets.DB_USERNAME }} -e MYSQL_PASSWORD=${{ secrets.DB_PASSWORD }} -p 3306:3306 -d mysql:8.0

      - name: MySQL Health Check
        run: |
          echo "Waiting for MySQL to be ready..."
          for i in {1..60}; do
            if docker exec mysql mysqladmin ping -h localhost -u${{ secrets.DB_USERNAME }} -p${{ secrets.DB_PASSWORD }} --silent; then
              echo "MySQL is ready!"
              break
            fi
            echo "Attempt $i: MySQL is not ready yet. Waiting..."
            sleep 10
          done
          if [ $i -eq 60 ]; then
            echo "MySQL did not become ready in time."
            exit 1
          fi

      - name: Verify MySQL Connection
        run: |
          echo "Verifying MySQL connection..."
          docker exec mysql mysql -u${{ secrets.DB_USERNAME }} -p${{ secrets.DB_PASSWORD }} -e "SHOW DATABASES;"

      - name: Print Database Connection Info
        run: |
          echo "Database connection info:"
          echo "URL: jdbc:mysql://localhost:3306/${{ secrets.DB_NAME }}?useSSL=false&serverTimezone=UTC"
          echo "Username: ${{ secrets.DB_USERNAME }}"
          echo "Password: [PROTECTED]"

      - name: Run tests
        run: |
          ./gradlew test --info
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/${{ secrets.DB_NAME }}?useSSL=false&serverTimezone=UTC
          SPRING_DATASOURCE_USERNAME: ${{ secrets.DB_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.DB_PASSWORD }}

      - name: Build with Gradle
        run: ./gradlew build

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/ustar:${{ github.sha }} .

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/ustar:${{ github.sha }}